<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->

<div class="container text-center" id="result">
<!--   <%= @answer.class %> -->
 <strong><%= @return %></strong>
 <%= link_to 'Go Back', '/games/new' %>
</div>

